.each-spot-buttons{
  height:40px;
  width: 100px;
  border-radius: 12px;
  display: block;
  background-color: azure;
  transition-duration: .2s;
}

.edit-spot-form{
  height:200px;
  width: 300px;
  position: absolute;
  right: 150px;
  bottom: 300px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  background-color: lightcyan;
}


#edit-spot-submit-button:hover{
  background-color: lightgreen;
}


#edit-spot-cancel-button:hover{
  background-color: rgb(247, 110, 110);
}


.each-spot-buttons:hover{
  background-color: rgb(22, 157, 190);
}

.create-booking-form{
  height:550px;
  width: 370px;
  position: absolute;
  right: 15%;
  top: 700px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  background-color: lightcyan;
}

#book-spot-submit-button:hover{
  background-color: lightgreen;
  color: white;
}

#book-spot-cancel-button:hover{
  background-color: rgb(247, 110, 110);
}

#booking-form-price-per-night{
  position: absolute;
  top:10px;
  left: 5%;
}

#booking-form-label-inputs{
  display: flex;
  height: 80px;
  position: absolute;
  top: 100px;
}

#booking-form-check-in, #booking-form-check-out{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
}

#booking-form-check-in{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#booking-form-check-out{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#booking-form-check-in input, #booking-form-check-out input{
  border: none;
  background-color: transparent;
  width: 85%;
}

#booking-form-check-in input, #booking-form-check-out input:hover{
  cursor: pointer;
}

#check-in-label, #check-out-label{
  font-weight: bold;
}

#book-spot-submit-button{
  width: 70%;
  position: absolute;
  top: 200px;
}

#booking-pricing-info{
  width: 100%;
}

#current-checkin-checkout{
  display: flex;
  position: absolute;
  top: 240px;
  align-items: flex-start;
  left: 25%;
  width: 70%;
  justify-content: flex-start;
}

#current-checkin-date, #current-checkout-date{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#current-date-splitter{
  margin-left: 5px;
  margin-right: 5px;
}

#chosen-nights-price{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 300px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#booking-cleaning-fee{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 340px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#booking-service-fee{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 380px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#booking-owner-discount{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 420px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#total-price{
  border-top: 1px solid black;
  position: absolute;
  bottom: 10px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.booking-pricing-labels{
  margin-left: 3%;
}

.booking-pricing-amounts{
  position:absolute;
  right: 3%;
}

#booking-total-label, #final-total-amount{
  font-weight: bold;
}


#each-spot-main-content{
  margin-top: 20px;
  width: 80%;
  margin-left: 14%;
  height: fit-content;
  padding-bottom: 200px;
  min-height: 1080px;
}

#spot-header-labels{
  display: flex;
}

#spot-header-hosted-by, #spot-header-location{
  margin-top: 0;
  font-size: 16px;
  margin-left: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#spot-header-location{
  font-weight: bold;
}


#spot-name-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#spot-images-container{
  display: flex;
  width:fit-content;
  max-width: 70%;
  height: 375px;
  margin-top: 50px;
}

.each-spot-images{
  border-radius: 0;
}

#each-spot-image-one{
  height: 100%;
  width: 60%;
  margin: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#each-spot-image-four{
  border-top-right-radius: 12px;
}

#each-spot-image-five{
  border-bottom-right-radius: 12px;
}

#each-spot-image-two, #each-spot-image-three, #each-spot-image-four, #each-spot-image-five{
  height: 48.5%;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#each-spot-image-two, #each-spot-image-four{
  margin-bottom: 10px;
}

#spot-images-column-two, #spot-images-column-three{
  display: flex;
  flex-direction: column;
  height: 375px;
}

.each-spot-header-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:100%;
}

#each-spot-button-container{
  width: 30%;
  position: absolute;
  right: 7%;
  top: 150px;
  display: flex;
  justify-content: space-around;
}

#edit-delete-button-container{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

#spot-price-label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

#booking-errors-list{
  list-style: none;
  color: red;
  padding: 0 0 0 0;
}

#spot-desc-section-container{
  width: 50%;
  margin-top: 125px;
  height: 550px;
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: lightcyan;
}

#spot-description-container{
  width: 80%;
  height: 50%;
  margin-top: 20px;
  border-bottom: 1px solid darkgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#spot-desc-header-container{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#spot-description-content{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5px;
}

#spot-description-header, #spot-desc-host{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#spot-cover-container{
  height: 25%;
  width: 80%;
  border-bottom: 1px solid darkgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#spot-cover-headers{
  display: flex;
  padding-top: 3%;
}

#spot-cover-header-one{
  color: rgb(255, 186, 102);
}

#spot-cover-header-one, #spot-cover-header-two{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#spot-cover-description{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 2%;
}

#all-reviews-container{
  display: flex;
  flex-direction: column;
  width: 88.5%;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: lightcyan;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#each-review-container{
  padding: 5%;
}

#each-review-header{
  display: flex;
  align-items: center;
}

#each-review-user{
  margin-right: 5px;
}

#each-review-rating{
  color: rgb(255, 186, 102);
}

#review-rating-total{
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 4%;
  padding-top: 20px;
}

#total-rating-star{
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

#total-rating-score{
  margin-right: 20px;
}

#each-review-delete-button{
  height:20px;
  width: 20px;
  margin-top: 10px;
  background-color: lightcyan;
}

#edit-review-button{
  height: 20px;
  width: 20px;
  background-color: lightcyan;
}

#each-review-edit-delete-buttons{
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  right: 17%;
}

#review-modal-close-image{
  height:15px;
  width: 15px;
  position: absolute;
  background-color: transparent;
}

.modal-cancel-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
  border: none;
}

.modal-cancel-buttons:hover{
  background-color: lightgray;
}

#review-no-reviews{
  text-align: center;
  padding-bottom: 10px;
}
