.each-spot-buttons{
  height:40px;
  width: 100px;
  border-radius: 12px;
  display: block;
  background-color: azure;
  transition-duration: .2s;
}

.edit-spot-form{
  height:200px;
  width: 300px;
  position: absolute;
  right: 150px;
  bottom: 300px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  background-color: lightcyan;
}


#edit-spot-submit-button:hover{
  background-color: lightgreen;
}


#edit-spot-cancel-button:hover{
  background-color: rgb(247, 110, 110);
}


.each-spot-buttons:hover{
  background-color: rgb(22, 157, 190);
}

.create-booking-form{
  height:550px;
  width: 370px;
  position: absolute;
  right: 15%;
  top: 700px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  background-color: lightcyan;
}

#book-spot-submit-button:hover{
  background-color: lightgreen;
}

#book-spot-cancel-button:hover{
  background-color: rgb(247, 110, 110);
}

#each-spot-main-content{
  margin-top: 20px;
  width: 80%;
  margin-left: 14%;
  height: 100vh;
  padding-bottom: 50px;
}

#spot-header-labels{
  display: flex;
}

#spot-header-hosted-by, #spot-header-location{
  margin-top: 0;
  font-size: 16px;
  margin-left: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#spot-header-location{
  font-weight: bold;
}


#spot-name-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#spot-images-container{
  display: flex;
  width:60%;
  height: 375px;
  border-radius: 15px;
}

.each-spot-images{
  border-radius: 0;
}

#each-spot-image-one{
  height: 100%;
  width: 50%;
  margin: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#each-spot-image-four{
  border-top-right-radius: 12px;
}

#each-spot-image-five{
  border-bottom-right-radius: 12px;
}

#each-spot-image-two, #each-spot-image-three, #each-spot-image-four, #each-spot-image-five{
  height: 48.5%;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#each-spot-image-two, #each-spot-image-four{
  margin-bottom: 10px;
}

#spot-images-column-two, #spot-images-column-three{
  display: flex;
  flex-direction: column;
  height: 375px;
}

.each-spot-header-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:100%;
}

#each-spot-button-container{
  width: 30%;
  position: absolute;
  right: 7%;
  top: 150px;
  display: flex;
  justify-content: space-around;
}

#edit-delete-button-container{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

#spot-price-label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

#booking-errors-list{
  list-style: none;
  color: red;
  padding: 0 0 0 0;
}
