
.spot-form-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.create-spot-form{
  display: flex;
  flex-direction:row;
  height: 20px;
  width: 200px;
  justify-content: center;
}

.spots-table{
  display: block;
  width:50%;
  margin-left: 25%;
  text-align: justify;

}

.spots-page-container{
  text-align: center;
}
