
.spot-form-container{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.create-spot-form{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.spot-card-containers{
  border: 1px solid black;
  margin: 10px;
  border-radius: 5%;
  width: 200px;
}

.spots-page-container{
  text-align: center;
}

.spot-containers-container{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
