#profile-user-information{
  width: 80%;
  height: 400px;
  display: flex;
  border: 1px solid black;
  border-radius: 12px;
  margin-left: 10%;
  margin-top: 50px;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: lightcyan;
}

#profile-name-image-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

#profile-user-image{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-right: 100px;
}

#profile-user-name{
  margin-right: 80px;
}

#profile-user-bio{
  margin-top: 100px;
}

#user-spots-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-left: 10%;
  margin-bottom: 100px;
  width: 80%;
  min-height: 200px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: lightcyan;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#inner-user-spots-container{
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 25px;
}

#each-user-spot-edit-container{
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#each-user-spot-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 280px;
  width: 100%;
  border-radius: 12px;
  background-color: darkcyan;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(255, 186, 102);
  padding: 1%;
}

#each-user-spot-container:hover{
  background-color: rgb(0, 178, 178);
  color:rgb(200, 120, 22);
}

#each-user-spot-image{
  width:90%;
  height: auto;
  max-height: 70%;
}

#user-bookings-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-left: 10%;
  margin-bottom: 100px;
  width: 80%;
  min-height: 200px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: lightcyan;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#inner-user-booking-container{
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 25px;
}

#each-user-booking-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 280px;
  width: 25%;
  border-radius: 12px;
  background-color: darkcyan;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(255, 186, 102);
  padding: 1%;
}

#booking-image{
  width:90%;
  height: auto;
  max-height: 70%;
}

#users-favorites-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-left: 10%;
  margin-bottom: 100px;
  width: 80%;
  min-height: 200px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: lightcyan;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#inner-user-favorites-container{
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 25px;
}

#each-user-faved-spot-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 280px;
  width: 25%;
  border-radius: 12px;
  background-color: darkcyan;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(255, 186, 102);
  padding: 1%;
}
