/* TODO Add site wide styles */
body{
  min-height: 1080px;
  justify-content: center;
}
.footer{
  background-color: bisque;
  position: sticky;
  bottom: 10px;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;

}

.footer-images{
  height:25px;
  width: 25px;
}

.footer-images:hover{
  filter: drop-shadow(0 0 0.25rem aquamarine);
}

button{
  cursor: pointer;
}
