/* TODO Add site wide styles */
body{
  min-height: 1080px;
  margin-bottom: 30px;
}
.footer{
  background-color: bisque;
  position: sticky;
  bottom: 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: 50px;
  box-sizing: border-box;
}

.footer-images{
  height:25px;
  width: 25px;
  background-color: none;
}

.tech-links{
  background-color: bisque;
  border: none;
}

.footer-images:hover{
  filter: drop-shadow(0 0 0.25rem aquamarine);
}

button{
  cursor: pointer;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: beige;
  border-radius: 5px;
}

a:not(.nav-images, .tech-links){
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: lightblue;
  color: #cc3c29;
  transition-duration: .2s;
}

a:hover{
  background-color: lightskyblue;
}



#footer-container{
  position:fixed;
  bottom: 1px;
  width: 100%;
}

select{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: beige;
  border: 1px solid black;
}
