body{
width: 1890;

}
img{
  width:350px;
  height: 250px;
  margin: 10px;
  border: 1px transparent;
  border-radius: 5%;
}

.images-container{
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 96%;
  margin-left: 2%;
  margin-right:2%;
}

img:hover{
  filter: drop-shadow(0 0 0.75rem #46e8db);
}

.splash-image-containers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #cc3c29;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 5%;
  margin: 5px;
}

.splash-image-title{
  margin-bottom: 5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.splash-image-price{
  margin-top: 5px;
  font-family: monospace;
}

#main-title{
  text-align: center;
}
