img{
  width:250px;
  height: 250px;
  margin: 10px;
  border: 1px solid beige;
  border-radius: 5%;
}

.images-container{
  display: inline-flex;
  flex-wrap: wrap;
  width: 96%;
  margin-left: 2%;
  margin-right:2%;
}

img:hover{
  filter: drop-shadow(0 0 0.75rem #46e8db);
}
