body{
width: 1890;
padding-bottom: 40px;

}
img{
  width:350px;
  height: 250px;
  margin: 10px;
  border: 1px transparent;
  border-radius: 5%;
}

.images-container{
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 96%;
  margin-left: 2%;
  margin-right:2%;
}

.images-container img:hover{
  filter: drop-shadow(0 0 0.75rem #46e8db);
}

#splash-main-content{
  padding-bottom:50px;
}

.splash-image-containers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #cc3c29;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 5%;
  margin: 2%;
}

.splash-image-title{
  margin-bottom: 5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.splash-image-price{
  margin-top: 5px;
  font-family: monospace;
}

#main-title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#navbar-links-container-all{
  display: flex;
  width: 100vw;
  height: 150px;
  max-width: 100%;
  overflow: hidden;
  justify-content: space-around;
  margin-bottom: 50px;
}

#navbar-links-container-one{
  position: absolute;
  width: 100%;
  height: 40px;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
}

#spots-nav-image{
  height: 40px;
  width: auto;
  box-sizing: border-box;
}


#bookings-nav-image{
  height: 41px;
  width: 30px;
}

#users-nav-image{
  height: 40px;
  width: auto;
}

.nav-images{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: darkgray;
  width: 100px;
  height: 100px;
}

.nav-images:hover{
  color: black;
  background-color: beige;
}

.state-icons{
  height: 50px;
  width: 50px;
}

.nav-image-label{
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
