body {
  background-color: whitesmoke;
}



#errors-list{
  position: absolute;
  left: 28%;
  top: 10px;
  list-style: none;
  color: red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}
