body {
  background-color: whitesmoke;
}

#signup-form{
  background-color: lightskyblue;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
  justify-content: space-around;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid black;
  border-radius: 5%;
  height: 600px;
}

#signup-button{
  background-color: white;
  height:50px;
  width: 200px;
  border-radius: 12px;
  transition-duration: .5s;
}

#signup-button:hover{
  background-color: green;
  color:white;
}

#signup-form-header{
  position: absolute;
  top: 200px;
}
