.navbarLinks{
  width:100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
}

#signuplink{
  margin: 5px;
}

#homelink{
  margin: 5px;
}

#logo{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position:absolute;
  left: 10px;
  top: 2px;
  color: black;
  margin-top: 12px;
}

#navwrapper{
  border-bottom: 1px solid black;
  background-color: beige;
  width: 100%;
  padding: 0;
  margin: 0;
}
