body{
  background-color: beige;
}

#login-form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

#login-form-container{
  height: 80%;
  width: 90%;
}

#login-form-header{
  align-self: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 50px;
}

.login-label-input-containers{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-labels{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-inputs{
  width: 60%;
  height: 30px;
  padding: 1%;
  border-radius: 12px;
  background-color: lightcyan;
}

.login-inputs:focus{
  background-color: rgb(174, 254, 254);
}

#demo-login-button, #login-submit-button{
  width: 40%;
  height: 30px;
  border-radius: 12px;
}

#demo-login-button:hover, #login-submit-button:hover{
  background-color: rgb(174, 254, 254);
}
